body {
  font-size: 0.8em;
  margin-top: 1.0em;
  background-color: #ffffff;
  font-family: Verdana, Arial, sans-serif;
  color: #000000;
}
#container {
  margin: 0 auto;
  width: 700px;
}
h1 { font-size: 3.0em; color: #1a6fef; margin-bottom: 3px; padding-top: 26px; }
h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none }
h2 { font-size: 1.5em; color: #1a6fef; }
h3 { text-align: center; color: #1a6fef; }
h3 .author { font-style: italic; font-size: 0.8em; }
a { color: #1a6fef; }
.description { font-size: 1.2em; margin-bottom: 30px; margin-top: 30px; font-style: italic;}
.download { float: right; }
pre { background: #eee; color: #000; padding: 15px;}
hr { border: 0; width: 80%; border-bottom: 1px solid #999;}
code, kbd, tt, pre { font-size: 1.2em; }
.footer { text-align:center; padding-top:30px; font-style: italic; }